.LoginForm {
    padding: 20px;
}

.LoginForm-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 20px;
}

.LoginForm-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.LoginForm-footer {
    padding-top: 15px;

    position: relative;

}

.LoginForm-button {
    cursor: pointer;
    align-self: flex-start;
}

.LoginForm-error {
    position: absolute;
    top: -18px;
    color: red;
    font-size: 12px;
}