/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.BasketTool-main {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.BasketTool-left {
  color: #0099ff;
  text-decoration: underline;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
