.ModalLayout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
}

.ModalLayout-center {
  max-width: 900px;
  min-height: 500px;
  transform: translateY(30%);
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
  border-radius: 10px;
}